.slick-prev {
  left: 15px;
  z-index: 5;
}

.slick-next {
  right: 15px;
  z-index: 5;
}

.showcase {
  position: relative;
  /* direction: ltr; */
}

.showcase .content {
  position: absolute;
  top: 30%;
  right: 50%;
  z-index: 5;
  transform: translate(50%, -50%);
  text-align: center;
  direction: rtl;
  z-index: 2;
}

.showcase .content h1 {
  font-size: 55px;
  font-weight: bold;
  color: var(--primary-color);
}

.showcase .content p {
  color: #eee;
  font-size: 25px;
  font-weight: bold;
}

.showcase-slider .item {
  font-size: 30px;
  height: 90vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 4rem;
  font-size: 45px;
  font-weight: bold;
}

.showcase-slider .item-1 {
  background: url(../img/truck1.jpg) no-repeat left top/cover;
}

.showcase-slider .item-2 {
  background: url(../img/truck2.jpg) no-repeat center/cover;
}

.showcase-slider .item-3 {
  background: url(../img/t4.jpg) no-repeat left top/cover;
}

.showcase-slider .item-4 {
  background: url(../img/truck4.jpg) no-repeat left -200px / cover;
}

.showcase-slider .item-5 {
  background: url(../img/truck5.jpg) no-repeat left top/cover;
}

.showcase-slider .item-6 {
  background: url(../img/truck6.jpg) no-repeat left top/cover;
}

.showcase-slider .item-7 {
  background: url(../img/truck7.jpg) no-repeat center -200px / cover;
}

/* APP Section  */
#app .image-slider {
  padding-top: 3rem;
  /* direction: ltr; */
}

.image-slider .item {
  height: 350px;
  border: 1px solid orange;
  background: #f0d1d1;
}

.image-slider img {
  height: 400px;
}

.app-text-slider {
  border: 1px solid green;
  margin-top: 2rem;
  line-height: 1.9;
  border-radius: 40px;
  border: 3px solid #fff;
  background: linear-gradient(
    300deg,
    rgba(137, 69, 236, 0.1) 5.78%,
    rgba(137, 69, 236, 0) 176.24%
  );
  padding: 20px;
  /* direction: ltr; */
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .showcase .content {
    top: 30%;
  }

  .showcase .content h1 {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
  }

  .showcase .content p {
    color: #eee;
    font-size: 20px;
    font-weight: bold;
  }
  .showcase-slider .item {
    font-size: 25px;
    text-align: center;
  }
  #about ul li {
    text-align: center;
    margin-right: 0;
  }
  #about ul li::marker {
    content: "";
  }
}
