:root {
  --primary-color: #008686;
  --secondary-color: #e8491d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  direction: rtl;
}

.container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* Header */

header {
  border-bottom: 3px solid var(--primary-color)
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

#branding {
  color: #e8491d;
  font-weight: bold;
}

#branding img {
  width: 150px;
}

header ul {
  display: flex;
}

header li {
  padding: 0 20px 0 20px;
}

header a {
  color: #008686;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

header a:hover {
  color: #e8491d;
  font-weight: bold;
}

/*Vision & Mission & Values */



.vision {
  margin-top: 3rem;
  background: url(../img/texture.webp) no-repeat center/cover;
  min-height: 500px;
}

.vision .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.Mission .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.vision .section-title {
  color: #0C5464;
  /* font-family: "IBM Plex Sans Arabic", Sans-serif; */
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 1.5rem;
  margin-top: 2rem;

}

.vision p {
  font-weight: 700;
  line-height: 1.8;
  color: #808285;
  font-size: 18px;
  margin-bottom: 0.5rem;
  margin-left: 9rem;
}

.vision img,
.Mission img {
  max-width: 400px;
}

.Mission {
  background-color: #0C5464;
  opacity: 0.5;
}

.Mission .section-title {
  color: #FFFFFF;
  font-family: "IBM Plex Sans Arabic", Sans-serif;
  font-size: 35px;
  margin-bottom: 1rem;
  font-weight: 800;
}

.Mission P {
  text-align: justify;
  color: #F1F1F1;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Values  */
.values {
  background: #fff;
  padding-top: 2rem;
  text-align: center;
}

.values .title {
  text-align: left;
}

.flex-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.value {
  padding: 15px;
}

.value img {
  width: 100px;
}

/* About Section */
#about {
  padding-top: 2rem;

}

#about h1 {
  font-size: 40px;
  font-weight: 300;
}

#about .about-text p {
  font-size: 20px;
  line-height: 1.6;
}

.about-wrapper {
  display: flex;
  flex-basis: 50%;
  gap: 2rem;
}

#about img {
  width: 300px;
  height: 300px;
}

.about-wrapper {
  background: url(img/about1.jpg);
  background-size: contain;
}

/* Services */
#services h1 {
  font-size: 40px;
  font-weight: 300;
}

/*Services Tabs */
.services {
  background-color: #fff;
  padding-top: 1rem;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 2rem;
}

.services p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.services .container>div {
  padding: 1.5rem 0;
}

.services .container>div:hover {
  color: #fff;
  cursor: pointer;
  background: #008686;
}

.tab-border {
  border-bottom: 4px solid #e8491d;
}

/* Tabs Content */

.tab-content {
  color: #000;
  padding: 3rem 0;
  background: #fff;
}

/* Hide content initiall */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

/* Tab 1 */
.tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.services-wrapper {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-wrapper .container {
  width: 100%;
}

.tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Small Screen  */
@media screen and (max-width: 768px) {
  header {
    padding-top: 30px;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    flex-direction: column;
  }

  header ul {
    flex-direction: column;
    text-align: center;
  }

  header ul li {
    margin: 15px;
  }

  .values .title {
    text-align: center;
    border-top: 1rem;
  }

  .box .container {
    display: block;
  }

  .values .flex-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
  }

  .box h1 {
    text-align: center;
  }

  #about h1 {
    text-align: center;
  }

  .about-wrapper {
    display: block;
    text-align: center;
  }

  #about img {
    width: 50%;
    margin: auto;
    text-align: center;
    display: none;
  }
}